# OpenAI API Key
# Get your key from https://platform.openai.com/api-keys
NEXT_PUBLIC_OPENAI_API_KEY=sk-proj-
GhgxvvmyYnmfT4DB8s1evEJzyg73DkjhLpDXHqzZ0AYg2WZ1rppNhoGOW38KjXQ0Y1X5_5NtGFT3BlbkFJH2zcH7gclxVZA7NKNDIysnmMWMt3CRTr0-RuVDF3YStfNBt09VnnIql_53_J0gtoJQ08l1s8IA